* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 33, 36);
  font-family: sans-serif, arial;
}

/* nav */
.header {
  height: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  font-size: 14px;
  height: 100%;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.left-nav {
  padding-right: 16px;
}

nav a {
  text-decoration: none;
  color: rgb(232, 232, 232);
}

.menu,
.profile {
  cursor: pointer;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

/* main */
main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* logo */
.logo {
  min-height: 92px;
  max-height: 290px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
}

.logo img {
  width: 272px;
  height: auto;
}

/* search container*/
.search-container {
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
/* search bar */
.search-box {
  display: flex;
  align-items: center;
  background-color: rgb(77, 81, 86);
  border-radius: 26px;
  max-width: 582px;
  min-height: 52px;
  width: 100%;
  gap: 16px;
  margin-top: 10px;
  padding: 10px 15px;
}

.search-input {
  flex: 1;
  background: none;
  border: none;
  color: rgb(232, 232, 232);
  font-size: 16px;
  outline: none;
}

.mic-icon,
.lens-icon {
  cursor: pointer;
}

/* search buttons */
.search-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.search-buttons button {
  background-color: #303134;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  white-space: nowrap;
}

.search-buttons button:hover {
  background-color: #3c4043;
}

.languages {
  margin-top: 20px;
  color: rgb(191, 191, 191);
  font-size: 14px;
  text-align: center;
}

.languages a {
  color: #8ab4f8;
  text-decoration: none;
  margin: 0 4px;
}

.languages a:hover {
  text-decoration: underline;
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #171717;
  color: rgb(232, 232, 232);
  font-size: 14px;
  margin-top: auto;
}

.footer-location {
  padding: 15px 30px;
  border-bottom: 1px solid #3c4043;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  flex-wrap: nowrap;
}

.footer-buttons a {
  color: rgb(232, 232, 232);
  text-decoration: none;
  margin: 5px 15px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.footer-buttons a:hover {
  text-decoration: underline;
}

.left-footer,
.right-footer {
  display: flex;
  flex-wrap: nowrap;
}
